@page "/docs"
@page "/docs/{fileName}"
@using BlazorStatic
@inject BlazorStaticHelpers blazorStaticHelpers

@if (htmlContent is null)
{
    return;
}

<div class="prose prose-invert">
    @((MarkupString)htmlContent)
</div>

@code {

    [Parameter] public string? FileName { get; set; }
    string? htmlContent;
    protected override async Task OnInitializedAsync()
    {
        
        string file = $"Content/Docs/{(string.IsNullOrWhiteSpace(FileName) ? "README" : FileName)}.md";
        if(file.EndsWith(".md.md"))
            file = file[..^3];
        htmlContent =  await blazorStaticHelpers.ParseMarkdownFile(file,("media","Content/Docs/media") );
    }
}