@page "/"
@using BlazorStatic
@using System.Text.RegularExpressions
@inject BlazorStaticHelpers blazorStaticHelpers

<div class="prose prose-invert 
[&_img]:inline-block
[&_#imglogo]:hidden 
">
    @((MarkupString)htmlContent)
</div>

@code{
    string htmlContent = "";

    protected override async Task OnInitializedAsync()
    {
        htmlContent = await blazorStaticHelpers.ParseMarkdownFile("../README.md");
        htmlContent = Regex.Replace(
                htmlContent,
                @"\./BlazorStaticWebsite/Content/Docs/([\w\-]+)\.md", //remove the md
                "docs/$1"
            )
            .Replace(".github/media/", "media/");
    }

}
