@page "/"
@using Markdig
@using BlazorStatic
@inject BlazorStaticHelpers BlazorStaticHelpers
<div class="prose prose-invert 
[&_img]:inline-block
[&_#imglogo]:hidden 
">
@((MarkupString)htmlContent)
</div>
  
@code{
  string htmlContent = "";
  protected override async Task OnInitializedAsync()
  {
    htmlContent =  await BlazorStaticHelpers.ParseMarkdownFile("README.md");
  }
}