@page "/Tag/{tagName}"
@using BlazorStaticWebsite.Components.Blog
@using BlazorStatic
@inject BlazorStaticService<FrontMatter> BlazorStaticService

@if (TagName == null)
{
    <div>No Tag specified</div>
    return;
}

<div class="divide-y divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
        <h1 class="font-sans md:leading-14 text-3xl font-extrabold leading-9 tracking-tight text-gray-100 sm:text-4xl sm:leading-10 md:text-6xl">@TagName</h1>
        <p class="text-lg leading-7 text-gray-400">Blog posts tagged by 
            <span class="text-primary-300">@TagName</span> 
            </p>
    </div>
<PostsList />
</div>

@code {
    
    [Parameter] public string? TagName { get; set; }
    
    List<Post<FrontMatter>>? posts;
    
    protected override void OnInitialized()
    {
        if (string.IsNullOrWhiteSpace(TagName)) return;
        posts =  BlazorStaticService.BlogPosts.Where(x => x.FrontMatter.Tags.Contains(TagName)).ToList();
    }
    
}